<!DOCTYPE html>
<hlml xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>
			Registration Succeeded
		</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container text-center">
		<div>
			<h3>
				You have signed up scuccefully!
			</h3>
			<h4>
				<a th:href="@{/login}">
					Click here to login
				</a>
			</h4>
		</div>
	</div>
	</body>
</hlml>