<!DOCTYPE html>
<hlml xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>
			All Users
		</title>
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="Sign Out" />
			</form>
		</div>	
		<div>
			<h1>
				List Of All Users
			</h1>
		</div>
		<div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th> User ID</th>
						<th> E-mail</th>
						<th> First Name</th>
						<th> Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">User ID</td>
						<td th:text="${user.email}">Email</td>
						<td th:text="${user.firstName}">First Name</td>
						<td th:text="${user.lastName}">Last Name</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</body>
</hlml>